{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<br>

{% load remove_html %}


	<br>
{% if my_books.count == 0 %}
<center>
<h1>You have not bookmarked any interview experience yet!!</h1>
    </center>
{% else %}
<h2>Your Bookmarks</h2>
<br>
    {% for exp in my_books %}
	<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 mx-2 shadow-sm h-md-250 position-relative bg-light">
        <div class="col p-4 d-flex flex-column my position-static">
          <h3 class="d-inline-block mb-2 text-primary">{{exp.title}} {{exp.company}} {{exp.type_offer}}</h3>
          <div class="mb-1 text-muted">{{exp.job_profile}}</div>
                <p class="card-text mb-auto">{{exp.content|truncatechars:200|cleanhtml }}</p>
            <br>
          <strong class="mb-0" style="text-align:right;">By {{exp.author}} At {{exp.timestamp}}</strong>
          <a href="/home/all_exp/{{exp.slug}}/">Continue reading</a>
        </div>
        <div>
            <a href="{% url 'add_bookmark' exp.id %}">
        <button type="button" class= "btn btn-info mb-2 mx-2" style="float: right;" ><span class="bi bi-bookmark"></span> Remove Bookmark </button>
        </a>
            {% if user == exp.username %}
                        <a class= "btn btn-danger mb-2 mx-2" style="float: right;" href="{% url 'delete_exp' exp.slug%} ">Delete</a>

            <a class= "btn btn-primary mb-2 mx-2" style="float: right;" href="{% url 'edit_exp' exp.slug%} ">Update</a>
            {% endif %}
        </div>
      </div>

    {% endfor %}
{% endif %}
{% else %}
	<h1>Sorry! You Must Be Logged In To View This Page...</h1>

	<a href="{% url 'login' %}">Login Here</a>
{% endif %}
		{% endblock %}
